.type-1592 {
  position: relative; }
  .type-1592 .swiper-container {
    cursor: pointer;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .type-1592 .swiper-container .left-para {
      position: absolute;
      width: 50%;
      height: 100%;
      padding-left: 13%;
      display: flex;
      align-items: center; }
      .type-1592 .swiper-container .left-para .title-slide p {
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
        font-family: "Open Sans Condensed";
        text-transform: uppercase;
        text-align: left;
        line-height: 80px;
        letter-spacing: 0px;
        font-weight: 700;
        font-size: 80px;
        color: white;
        width: 550px; }
      .type-1592 .swiper-container .left-para .line-di {
        background-color: #ffb536;
        width: 0px;
        height: 6px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .type-1592 .swiper-container .left-para .cn-para {
        line-height: 30px;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 17px;
        padding: 37px 0px 15px;
        height: auto;
        color: white;
        width: 500px; }
      .type-1592 .swiper-container .left-para .view-more {
        font-family: "Open Sans Condensed";
        line-height: 18px;
        font-weight: 700;
        font-size: 16px;
        border: 2px solid #ffb536;
        padding: 8px 30px;
        color: #ffb536;
        text-decoration: none; }
        .type-1592 .swiper-container .left-para .view-more:hover {
          background-color: #ffb536;
          color: #1F365C; }
    .type-1592 .swiper-container .right-para {
      width: 50%;
      height: 100%;
      float: right;
      position: relative; }
      .type-1592 .swiper-container .right-para .slide-r {
        position: absolute;
        width: 80%;
        height: 130%;
        transform: rotate(15deg);
        right: 62px;
        top: -85px; }
        .type-1592 .swiper-container .right-para .slide-r .image-slide {
          width: 100%;
          height: 80%; }
  .type-1592 .swiper-slide {
    background-size: cover;
    background-position: center;
    background-color: #1F365C; }
  .type-1592 .gallery-thumbs {
    height: 80px;
    width: 45%;
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    right: 25px;
    bottom: 25px; }
  .type-1592 .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4; }
  .type-1592 .gallery-thumbs {
    opacity: 1; }
  .type-1592 .img-fluid-custom {
    height: 100%;
    width: 100%; }
  .type-1592 .swiper-prev {
    display: none;
    position: absolute;
    color: #fff;
    z-index: 999;
    padding: 10px 17px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5); }
    .type-1592 .swiper-prev:hover {
      background-color: #000; }
  .type-1592 .swiper-prev {
    bottom: 35px;
    right: 85px; }
  .type-1592 .thumbs-custom {
    opacity: 1 !important; }
    .type-1592 .thumbs-custom .content-thumb {
      height: 100%;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      letter-spacing: 1px;
      font-size: 12px;
      line-height: 14px;
      text-align: left;
      padding: 10px 35px 10px 10px;
      width: 100%;
      font-weight: 500; }
      .type-1592 .thumbs-custom .content-thumb:hover {
        background: #fff !important;
        color: #000; }
  @media only screen and (max-width: 1300px) {
    .type-1592 .left-para {
      padding-left: 8% !important; }
    .type-1592 .right-para .slide-r {
      right: -10px !important; } }
@media only screen and (max-width: 1200px) {
  .type-1592 .left-para {
    padding-left: 6% !important; }
  .type-1592 .right-para .slide-r {
    right: -20px !important; } }
@media only screen and (max-width: 1100px) {
  .type-1592 .gallery-thumbs {
    display: none; }
  .type-1592 .swiper-prev {
    display: block; }
    .type-1592 .left-para .title-slide p {
      max-width: 400px !important;
      font-size: 60px !important; }
    .type-1592 .left-para .line-di {
      max-width: 400px !important; }
    .type-1592 .left-para .cn-para {
      max-width: 350px !important; }
  .type-1592 .right-para .slide-r {
    right: -30px !important; } }
@media only screen and (max-width: 768px) {
  .type-1592 .left-para {
    text-align: left;
    display: block !important;
    align-items: unset !important;
    padding: 15px !important;
    width: 100% !important; }
    .type-1592 .left-para .title-slide p {
      max-width: 100% !important;
      font-size: 60px !important; }
    .type-1592 .left-para .line-di {
      max-width: 100% !important; }
    .type-1592 .left-para .cn-para {
      max-width: 100% !important; }
  .type-1592 .right-para {
    display: none; } }
